body{
background-image:url("https://images.pexels.com/photos/36764/marguerite-daisy-beautiful-beauty.jpg?cs=srgb&dl=bloom-blossom-close-up-36764.jpg&fm=jpg");
background-repeat:no-repeat;
background-size:cover;
 }
 form {

 }